{% extends '::base.html.twig' %}

{% block title %}{{ 'challenge' | trans }}{% endblock %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">{{ 'back_to_home' | trans }}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_play')}}">{{ 'play' | trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'challenge' | trans }}</li>
  </ol>
</nav>

<div class="card">
    <div class="card-body">
      {{ form(form) }}
    </div>
</div>
{% endblock %}
