{% extends '::base.html.twig' %}

{% block body -%}
<div class="card">
    <div class="card-header">
        {{ "lemma_info" | trans}} <strong>{{ root.value }}</strong>
        <span class="float-right">
            {% if isInWordbox(root) == false %}
            <a class="btn btn-outline-secondary" href="{{ path('add-to-wordbox', {"id":  root.id }) }}">{{ "add_to_wordbox" | trans}}</a>
            {% endif %}
        </span>
    </div>
    <div class="card-body">
        {#
        <h3>{{ "phonetic" | trans}}</h3>
        {{ root.phonetic1 }} - {{ root.phonetic2 }}

        <h3>{{ "gender" | trans}}</h3>
        {{ root.gender ? root.gender.value | trans : "-" }}

        <h3>{{ "category" | trans}}</h3>
        {{ root.category ? root.category.value | trans : "-" }}

        <h3>{{ "subcategory" | trans}}</h3>
        {{ root.subcategory ? root.subcategory.value | trans : "-" }}
        #}
        <h3>{{ "wiktionary_def" | trans}}</h3>
        {{ getDefinitions(root.value, root.language.value|slice(0,2)) | raw }}
    </div>
</div>
{% endblock %}
