{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="row">
		<div class="col">
				<div class="card">
					<div class="card-body">
				    <div class="alert alert-success">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</div>
						<a href="{{ path('home') }}" class="btn btn-sm btn-primary">C'est parti !</a>
					</div>
				</div>
		</div>
	</div>
{% endblock fos_user_content %}

{% block page_title %}Confirmation de l'inscription{% endblock %}
