{% import _self as macros %}

<span onclick="gridPatternHandler.list();" class="btn btn-sm btn-outline-secondary">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    {{"back_to_patterns_list" | trans}}
</span>
<span id="pattern-save-btn" onclick="{{ pattern.id ? "gridPatternHandler.save()" : "gridPatternHandler.create()"}}" class="btn btn-sm btn-primary">
    <i class="far fa-save" aria-hidden="true"></i>
    {{ "save" | trans }}
</span>
{% if pattern.id %}
<span onclick="gridPatternHandler.delete({{ pattern.id }})" class="btn btn-sm btn-danger float-right">
    <i class="far fa-save" aria-hidden="true"></i>
    {{ "delete" | trans }}
</span>
{% endif %}

<hr/>

<form id="gridpattern" method="POST">
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    Chaines de caractères:
    <span class="btn btn-outline-secondary btn-sm" onclick="gridPatternHandler.addString()" >
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{ 'add_string' | trans }}
    </span>
    <ul class="list-group" id="strings" data-prototype="{{ macros.strings_prototype(form.strings.vars.prototype)|e }}">
    {% for string in form.strings %}
	   {{ macros.strings_prototype(string) }}
    {% endfor %}
    </ul>
    <input type="hidden" id="pattern-id" name="pattern-id" value="{{ pattern.id }}"/>
    {{ form_widget(form._token) }}
</form>

{% macro strings_prototype(string) %}
<li class="list-group-item string">
    <div class="row">
      <div class="col">
        <span onclick="gridPatternHandler.removeString(this);" class="btn btn-danger btn-sm">
          <i class="fa fa-times" aria-hidden="true"></i>
        </span>
      </div>
      <div class="col-11">
        {{ form_widget(string.value) }}
      </div>
    </div>
</li>
{% endmacro %}
