<span class="btn btn-outline-secondary btn-sm" onclick="gridPatternHandler.displayCreateForm()">
    <i class="fa fa-plus" aria-hidden="true"></i>
    {{ "pattern_create" | trans }}
</span>

<hr/>

<ul class="list-group">
    {% for pattern in patterns if pattern.strings |length > 0 or pattern.author == app.user %}
    <li class="list-group-item">
        {{ pattern.name }} <span class="text-muted">{{ pattern.description }}</span>
        <span class="float-right">
            {% if pattern.author == app.user %}
            <span class="btn btn-outline-secondary btn-sm" onclick="gridPatternHandler.edit({{ pattern.id }})">
                <i class="fas fa-edit" aria-hidden="true"></i>
                {{ "edit" | trans }}
            </span>
            {% endif %}
            {% if pattern.strings | length > 0 %}
            <span onclick="gridPatternHandler.use(this)" class="btn btn-outline-secondary btn-sm" data-strings="{% for string in pattern.strings %}{{string.value}},{% endfor %}">
                <i class="fa fa-crosshairs" aria-hidden="true"></i>
                {{ "use_pattern" | trans }}
            </span>
            {% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
