{% macro display_grid(grid, editable) %}
    {% set x = 0 %}
    <ul id="squares">
    {% for i in range(0,3) %}
        <div class="row">
        {% for j in range(0, 3) %}
          {% set value = grid.squares[x] is defined  ? grid.squares[x].letter.value|upper : "_" %}
          <li class="col-3 col-3 col-3" id="li-square-{{ i }}-{{ j }}">
              <p data-value="{{value}}" style="padding:1px" id="square-{{ i }}-{{ j }}" class="col {{ editable == false ? "read-only": "read-write"}}">
                  {% if editable %}
                  <input required id="square-{{ x }}" type="text" style="text-align:center;"  name="squares[]" size="1" maxlength="1" value="{{ grid.squares[x] is defined ? grid.squares[x].letter.value : "_" }}" spellcheck=false />
                  {% else %}
                  {{ value }}
              {% endif %}
              </p>
          </li>
          {% set x = x + 1 %}
        {% endfor %}
        </div>
    {% endfor %}
    </ul>
    <input id="gridLanguageId" type="hidden" name="gridLanguage" value="{{ grid ? grid.language.id }}">
{% endmacro %}
