{% if hasObj %}
<div class="row mb-2">
    <div class="col">
        <div id="objectives">
            {% set isActive = false %}
            <div data-type="combo" id="combos-container" class="objectives {% if round.combos is empty %} disabled {% endif %} {% if round.combos is not empty %} active{% set isActive = true %}{% endif %}">
                {% if round.combos is not empty %}
                <div class="objective-list">
                    {% for i, combo in round.combos %}
                    <div id="objective-combo-{{ combo.id }}" class="objective objective-{{ combo.id }}" data-type="combo">
                        <b>{{ combo.number }}</b> {{ 'combos__with_length' | trans }} <b>{{ combo.lenght }}</b>
                        <span class="objective-progress float-right"></span>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="objective-summary">
                    <div>
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <span id="combo-done">0</span> / <span>{{ round.combos |length}}</span>
                </div>
            </div>
            <div data-type="findword" id="findwords-container" class="objectives {% if round.findWords is empty %} disabled {% endif %} {% if round.findwords is not empty and isActive == false %} active{% set isActive = true %}{% endif %}">
                {% if round.findWords is not empty %}
                <div class="objective-list">
                    {% for findWord in round.findWords %}
                    <div id="objective-findword-{{ findWord.id }}" class="objective objective-{{ findWord.id }} objective-findword" data-type="findword">
                        {{ findWord.hint }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="objective-summary">
                    <div>
                        <i class="fas fa-binoculars"></i>
                    </div>
                    <span id="findword-done">0</span> / <span>{{ round.findWords |length}}</span>
                </div>
            </div>
            <div data-type="constraint" id="constraints-container" onclick="objectives.click(this)" class="objectives {% if round.constraints is empty %} disabled {% endif %}{% if round.constraints is not empty and isActive == false %} active{% endif %}">
                {% if round.constraints is not empty %}
                <div class="objective-list">
                    {% for constraint in round.constraints %}
                    <div id="objective-constraint-{{ constraint.id }}" class="objective objective-{{ constraint.id }}" data-type="constraint">
                      {{ constraint.numberToFind }}
                      {% for feature in constraint.features %}
                          {{ feature.value }} ({{ feature.label }})
                      {% endfor %}
                      <span class="objective-progress float-right"></span>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="objective-summary">
                    <div>
                        <i class="fa fa-map"></i>
                    </div>
                    <span id="constraint-done">0</span> / <span>{{ round.constraints |length}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
