{% extends '::base.html.twig' %}

{% import "MagicWordBundle:Player:macros.html.twig" as pmacros %}

{% block body -%}

{% set languages = get_languages() %}


<div class="row">
    <div class="col-sm-4 mb-2">
        <div class="card">
            <div class="card-body">
                <p class="card-text text-center">
                    <i class="fas fa-gamepad fa-3x"></i> {{ 'play' | trans | upper }}
                </p>
                <p>
                {{ 'play_text' | trans }}
              </p>
                <a href="{{ path('home_play') }}" class="btn btn-primary">{{ 'play' | trans }}</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-2">
        <div class="card">
            <div class="card-body">
                <p class="card-text text-center">
                    <i class="fa fa-cogs fa-3x" aria-hidden="true"></i> {{ 'create_panel' | trans | upper }}
                </p>
                <p class="card-text">
                   {{ 'create_panel_text' | trans  }}
                </p>
                <a href="{{ path('home_create') }}" class="btn btn-primary">{{ 'create_panel' | trans }}</a>
            </div>
        </div>
    </div>

    <div class="col-sm-4 mb-2">
        <div class="card">
            <div class="card-body">
                <p class="card-text text-center ">
                    <i class="fa fa-user fa-3x" aria-hidden="true"></i> {{ 'me' | trans | upper }}
                </p>
                <p>
                  {{ 'me_text' | trans }}
                </p>
                <a href="{{ path('home_me') }}" class="btn btn-primary">{{ 'me' | trans }}</a>
            </div>
        </div>
    </div>

    <div class="col-12">
      <div class="alert alert-light" role="alert">
        {{"connected"|trans}}: &nbsp;
          {% for user in get_connected(500) %}
              {{ pmacros.playerPicAndName(user) }} &nbsp;
          {% endfor %}
      </div>
    </div>


</div>
{% endblock %}
