{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
              {% if generalParameters.homeText %}
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                  {{ generalParameters.homeText | raw }}
                  <i class="fa fa-quote-right" aria-hidden="true"></i>
                  <hr/>
              {% endif %}
              <div class='embed-container'>
                  <iframe src='https://player.vimeo.com/video/216809745' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
              </div>
              {{ contributors | raw }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
