{% extends '::base.html.twig' %}

{% import "MagicWordBundle:Player:macros.html.twig" as pmacros %}

{% block body -%}
{% set languages = get_languages() %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">{{"back_to_home"|trans}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{"me"|trans}}</li>
  </ol>
</nav>

<div class="row">
  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fa fa-motorcycle fa-3x" aria-hidden="true"></i> {{ 'wordbox' | trans | upper }}
        </p>
        <p>
        {{ 'wordbox_text' | trans }}
        </p>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'wordbox' | trans }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for language in languages %}
              <a class="dropdown-item" href="{{ path('wordbox', {id: language.id}) }}">
                {{ language.value | trans }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fa fa-star fa-3x" aria-hidden="true"></i> {{ 'found' | trans | upper }}
        </p>
        <p>{{ 'found_text' | trans }}</p>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'found' | trans }}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for language in languages %}
              <a class="dropdown-item" href="{{ path('found', {id: language.id}) }}">
                {{ language.value | trans }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fa fa-user-cog fa-3x" aria-hidden="true"></i> {{ 'parameters' | trans | upper }}
        </p>
        <p>{{ 'parameters_text' | trans }}</p>
        <a class="btn btn-primary" href="{{ path('parameters') }}">{{ 'parameters' | trans }}</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="far fa-id-card fa-3x"></i> {{ 'my_profile' | trans | upper }}
        </p>
        <p>
          {{ 'my_profile_text' | trans }}
        </p>
        <a class="btn btn-primary" href="{{ path('my_profile') }}">{{ 'my_profile' | trans }}</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fas fa-users fa-3x"></i> {{ 'my_friends' | trans | upper }}
        </p>
        <p>
           {{ 'my_friends_text' | trans }}
        </p>
        <a class="btn btn-primary" href="{{ path('my_friends') }}">{{ 'my_friends' | trans }} ({{app.user.friends|length}})</a>
      </div>
    </div>
  </div>

  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fas fa-award fa-3x"></i> {{ 'rankings' | trans | upper }}
        </p>
        <p>
           {{ 'rankings_text' | trans }}
        </p>
        <a class="btn btn-primary" href="{{ path('games_ended') }}">{{ 'rankings' | trans }}</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
