{% extends '::base.html.twig' %}

{% import "MagicWordBundle:Player:macros.html.twig" as pmacros %}

{% block body -%}
{% set languages = get_languages() %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">{{"back_to_home"|trans}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'play' | trans }}</li>
  </ol>
</nav>

<div class="row">
  <!-- TRAIN -->
  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fas fa-running fa-3x" aria-hidden="true"></i> {{'practice_title' | trans | upper}}
        </p>
        <p>{{"practice_text"|trans}}</p>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{"practice_btn"|trans}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for language in languages %}
              <a class="please-wait dropdown-item" data-message="Génération de la grille" href="{{ path('train', {id: language.id}) }}">
                {{ language.value | trans }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CHALLENGE -->
  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fas fa-chess fa-3x"></i> {{'challenge_title'| trans |upper}}
        </p>
      <p>{{"challenge_text"|trans}}</p>
        <a class="btn btn-primary" href="{{ path('challenge') }}">{{ 'challenge_btn' | trans }}</a>
      </div>
    </div>
  </div>

  <!-- MASSIVES -->
  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fa fa-bolt fa-3x" aria-hidden="true"></i> {{'massive_games_title'| trans |upper}}
        </p>
        <p>{{"massive_games_text"|trans}}</p>
        <a class="btn btn-primary" href="{{ path('massives') }}">{{ 'massive_games_btn' | trans }}</a>
      </div>
    </div>
  </div>

  <!-- IN PROGRESS -->
  <div class="col-sm-4 mb-2">
    <div class="card">
      <div class="card-body">
        <p class="text-center">
            <i class="fa fa-spinner fa-3x" aria-hidden="true"></i> {{'current_games_title'| trans |upper}}
        </p>
        <p>{{"current_games_text"|trans}}</p>
        <a class="btn btn-primary" href="{{ path('games_started') }}">{{ 'current_games_btn' | trans }}</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
