{% extends '::base.html.twig' %}

{% block title %}{{ 'massive_end' | trans }}{% endblock %}

{% block body -%}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #fff;">
        <li class="breadcrumb-item"><a href="{{path('home')}}">{{ 'back_to_home' | trans }}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_play')}}">{{ 'play' | trans }}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="{{path('massives')}}">{{'massives'|trans}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ 'game_end' | trans }} {{ massive.name }}</li>
      </ol>
    </nav>

    {% include "MagicWordBundle:Game/Massive/partials:ranking.html.twig" %}
{% endblock %}
