{% extends '::base.html.twig' %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">{{ 'back_to_home' | trans }}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_create')}}">{{ 'create' | trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'json_import' | trans }}</li>
  </ol>
</nav>

<div class="card">
    <div class="card-body">
        <textarea required="required" id="import-json" style="width:100%; height:200px;"></textarea>
        <span onclick="builder.import()" class="btn btn-primary">Importer</span>
    </div>
</div>
{% endblock %}
