{% extends '::base.html.twig' %}

{% block title %}{{ 'games_started' | trans }}{% endblock %}

{% block body -%}
{% import _self as my_macros %}

<nav aria-badge="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">{{ 'back_to_home' | trans }}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_play')}}">{{ 'play' | trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'games_started' | trans }}</li>
  </ol>
</nav>

<div class="card">
    <div class="card-header">
        <span class="float-right">
            <button type="button" class="btn btn-outline-secondary btn-sm" data-order="asc" onclick="sorter.sort('gametype', this, '.games', '.game')">
                <i class="fa fa-sort" aria-hidden="true"></i> {{ "gametype" | trans }}
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm" data-order="asc" onclick="sorter.sort('popularity', this, '.games', '.game')">
                <i class="fa fa-sort" aria-hidden="true"></i> {{ "popularity" | trans }}
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm" data-order="asc" onclick="sorter.sort('roundCount', this, '.games', '.game')">
                <i class="fa fa-sort" aria-hidden="true"></i> {{ "roundCount" | trans }}
            </button>
            <button type="button" class="btn btn-outline-secondary btn-sm" data-order="asc" onclick="sorter.sort('author', this, '.games', '.game')">
                <i class="fa fa-sort" aria-hidden="true"></i> {{ "author" | trans }}
            </button>
        </span>
    </div>
    <div class="accordion games" id="accordion" role="tablist" aria-multiselectable="true">
        {% for game in games if game.discr != "training" %}
            {% set popularity = getActivityCount(game) %}
            {% set roundCount = game.rounds|length %}
            <div data-gametype="{{ game.discr }}" data-roundcount="roundCount" data-popularity="{{ popularity }}" data-author="{{ game.author }}" class="card game">
                <div class="card-header">
                    {{ my_macros.game_name(game) }}
                    <span class="float-right">
                        {% if game.discr == "massive" %}
                        <span class="badge badge-info">{{ "popularity" | trans }}: {{ getActivityCount(game) }}</span>
                        <span class="btn btn-outline-secondary btn-sm" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#game-{{ game.id }}">
                            <i class="fa fa-info" aria-hidden="true"></i> Infos
                        </span>
                        {% endif %}
                        {{ my_macros.game_play_link(game) }}
                    </span>
                </div>
                {% if game.discr == "massive" %}
                <div id="game-{{ game.id }}" class="collapse" role="tabpanel">
                    <ul class="list-group">
                        {% for i, round in game.rounds %}
                        <li class="list-group-item">
                            <span class="badge badge-secondary">{{ round.discr | trans }}</span>
                            <span class="badge badge-info">{{ round.language.value | trans }}</span>
                            {% set order = i + 1 %}
                            {{ round.title ? round.title : "round" | trans  ~ " " ~ order }}
                            <span class="text-muted">{{ round.description ? "(" ~ round.description ~ ")" }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% macro game_play_link(game) %}
    {% if  game.discr == "massive" %}
        {% set url = path('massive_play', {"code": game.code}) %}
    {% else %}
        {% if game.rounds|length == 1 %}
            {% if game.author == app.user %}
            <a class="btn btn-outline-secondary btn-sm" href="{{ path('challenge_cancel', {"id":  game.id}) }}">
                <i class="fa fa-ban" aria-hidden="true"></i> {{ "cancel" | trans}}
            </a>
            {% else %}
                <a class="btn btn-outline-secondary btn-sm" href="{{ path('challenge_reply', {"id":  game.id}) }}">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> {{ "accept_challenge" | trans}}
                </a>
                <a class="btn btn-outline-secondary btn-sm" href="{{ path('challenge_decline', {"id":  game.id}) }}">
                    <i class="fa fa-thumbs-down" aria-hidden="true"></i> {{ "decline_challenge" | trans}}
                </a>
            {% endif %}
        {% else %}
            {% set url = path('challenge_continue', {"id": game.id}) %}
        {% endif %}
    {% endif %}
    {% if url is defined %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ url }}">
            <i class="fa fa-gamepad" aria-hidden="true"></i> {{ "play" | trans }}
        </a>
        <a class="btn btn-outline-secondary btn-sm" href="{{ path('game_forfeit', {"id": game.id})}}">
            <i class="fa fa-times-circle" aria-hidden="true"></i> {{ "forfeit" | trans }}
        </a>
    {% endif %}
</li>
{% endmacro %}

{% macro game_name(game) %}
    {% if game.discr == "massive" %}
        <span class="badge badge-secondary">{{ "massive" | trans }}</span>
        {{ game.name }} {% if game.description %}<span class="text-muted">({{ game.description }})</span>{% endif %}
        par <a href="{{ path('profile', {"id":  game.author.id}) }}">{{ game.author }}</a>
    {% elseif game.discr == "challenge" %}
        {% set user = (game.challenged == app.user) ? game.author : game.challenged %}
        <span class="badge badge-success">{{ "challenge" | trans }}</span>
        avec <a href="{{ path('profile', {"id":  user.id}) }}">{{ user }}</a>
        {% if game.message %}<span class="text-muted">({{ game.message }})</span>{% endif %}
    {% endif %}
</li>
{% endmacro %}
