<div class="row">
    <div class="col">
        {% set grid = rush.grid %}
        <form id="grid">
        {% include "MagicWordBundle:Round/Conquer:grid.html.twig" %}
        <input id="rushId" type="hidden" name="rushId" value="{{ rush.id }}"/>
        <input id="languageId" type="hidden" name="language" value="{{ rush.language.id }}">
        </form>
    </div>
    <div class="col">
        <div id="foundables">
            {% include 'MagicWordBundle:Grid:possible-inflections.html.twig' with {'foundableForms': grid.foundableForms, 'btn': false  } %}
        </div>
    </div>
</div>

<div id="addword-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'addwords' | trans }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col" >
                <span onclick="rushEditor.addword()" class="btn btn-sm btn-outline-secondary">
                    {{ 'addword' | trans }}
                </span>
                <span onclick="rushEditor.generategrid()" id="generate-grid-btn" class="btn btn-sm btn-outline-secondary">
                    {{ 'generate_grid' | trans }}
                </span>
                <hr/>
                <ul id="word-list" class="list-group">
                </ul>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
