{% import _self as my_macros %}

<div class="card">
    <div class="card-header">
        <span class="float-right">
            <span class="btn btn-outline-secondary btn-sm" onclick="combo.add()" >
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'add_combo' | trans }}
            </span>
            <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#helper-combos">
                <i class="fa fa-eye" aria-hidden="true"></i>
                {{ 'see_combos' | trans }}
            </button>
            <span class='btn btn-primary btn-sm' onclick="objectives.save()">
                <i class="far fa-save" aria-hidden="true"></i>
                {{ 'save_objectives' | trans }}
            </span>
        </span>
    </div>

    <ul class="list-group list-group-flush" id="combos" data-prototype="{{ my_macros.combos_prototype(form.combos.vars.prototype)|e }}">
    {% for combo in form.combos %}
	      {{ my_macros.combos_prototype(combo) }}
    {% endfor %}
    </ul>
</div>

{% macro combos_prototype(combo) %}
<li class="list-group-item combo">
    {{ form_label(combo.number) }} : {{ form_widget(combo.number) }} - {{ form_label(combo.lenght) }} : {{ form_widget(combo.lenght) }}
    <span class="float-right">
        <span onclick="objectives.remove(this);" class="btn btn-sm btn-danger">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </span>
</li>
{% endmacro %}
