{% import _self as my_macros %}

<div class="card">
    <div class="card-header">
        <span class="float-right">
            <span class="btn btn-outline-secondary btn-sm" onclick="gridHandler.generate()">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                {{ 'generate_grid' | trans }}
            </span>
            <span class="btn btn-outline-secondary btn-sm" onclick="findwords.addWord()" >
                <i class="fa fa-plus" aria-hidden="true"></i>
                {{ 'add_findword' | trans }}
            </span>
            <span class='btn btn-primary btn-sm' onclick="objectives.save()">
                <i class="far fa-save" aria-hidden="true"></i>
                {{ 'save_objectives' | trans }}
            </span>
        </span>
    </div>
    <ul class="list-group list-group-flush" id="words" data-prototype="{{ my_macros.findWord_prototype(form.findWords.vars.prototype)|e }}">
    {% for findWord in form.findWords %}
	      {{ my_macros.findWord_prototype(findWord) }}
    {% endfor %}
    </ul>
</div>

{% macro findWord_prototype(findWord) %}
<li class="list-group-item findWord">
    {{ form_widget(findWord.inflection) }}
    {{ form_widget(findWord.hint) }}
    {{ form_label(findWord.lemmaEnough) }}
    {{ form_widget(findWord.lemmaEnough) }}
    <span class="float-right">
        <span onclick="objectives.remove(this);" class="btn btn-sm btn-danger">
            <i class="fa fa-times" aria-hidden="true"></i>
        </span>
    </span>
</li>
{% endmacro %}
