<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="max-height:600px; overflow-y:scroll">
    {% for combo in combos %}
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ combo.root.id }}" aria-expanded="true" aria-controls="{{ combo.root.id }}">
                    {{ combo.root.value }} - {{combo.words|length}}
                </a>
            </h4>
        </div>
        <div id="{{ combo.root.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="list-group" >
                {% for word in combo.words %}
                <li class="list-group-item">
                    {{ word }}
                    <span class="btn btn-outline-secondary btn-sm float-right" onclick="findwords.addInflection('{{ word }}')">
                        <i class="fa fa-plus" aria-hidden="true"></i> {{ 'add' | trans }}
                    </span>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
