@font-face {
  font-family: 'bellotaregular';
  src: url('../fonts/bellota_regular_macroman/Bellota-Regular-webfont.eot');
  src: url('../fonts/bellota_regular_macroman/Bellota-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bellota_regular_macroman/Bellota-Regular-webfont.woff') format('woff'),
    url('../fonts/bellota_regular_macroman/Bellota-Regular-webfont.ttf') format('truetype'),
    url('../fonts/bellota_regular_macroman/Bellota-Regular-webfont.svg#bellotaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bloggersans';
  src: url('../fonts/bloggersans/BloggerSans.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/bloggersans/BloggerSans.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/bloggersans/BloggerSans.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/bloggersans/BloggerSans.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/bloggersans/BloggerSans.svg#BloggerSans-Medium') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: bold;
}

.card-header {
  /*font-family: 'bloggersans', Arial, sans-serif;*/
  text-transform: uppercase;
}

.card-header .btn{
  /*font-family: 'bloggersans', Arial, sans-serif;*/
  text-transform: none;
}

.btn-primary{
  background-color:#A7CB19;
  color:black;
  border-color:#A7CB19;
}

.btn-primary:hover{
  background-color:white;
  color:black;
  border-color:#A7CB19;
}

a{
  color:#1822fb;
}

.container {
  padding-top: 15px;
}

body {
  background-color: #A7CB19;
}

.nav-tabs a,
.nav-tabs a:focus,
.nav-tabs a:hover {
  outline: 0;
}

div#header-logo {
  margin-top:10px;
  background-color: #A7CB19;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 90px;
}

.header-buttons {
  position: absolute;
  top: 15px;
  right: 5px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#please-wait .modal-body, #info-modal .modal-body {
  text-align: center;
  background-color: white;
  color: black;
  text-transform: uppercase;
}

#footer {
  background-color: #222222;
  color: #999;
  margin-top: 60px;
  height: 28px;
  position: fixed;
  width: 100%;
  bottom: 0;
  line-height: 28px;
  text-align: right;
  padding-right: 40px;
}

/* vimeo video container*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
