{% set scores = getScores(massive) %}
{% import "MagicWordBundle:Player:macros.html.twig" as pmacros %}

<div class="card p-0">
    <div class="card-body p-0">
        <div class="table-responsive">
        <table class="table table-striped text-center">
            <thead>
                <th>{{ "rank" | trans }}</th>
                <th>{{ "player" | trans }}</th>
                <th>{{ "score" | trans }}</th>
                {% for i, round in massive.rounds %}
                <th>{{ "round" | trans }} {{ i + 1 }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for i, score in scores %}
                <tr {{ app.user == score.player ? "class='success'": ""}}>
                    <td>{{ i + 1 }}</td>
                    <td>
                        {{ pmacros.playerPicAndName(score.player) }}
                    </td>
                    <td>{{ score.forfeit ? 'abandon'| trans : score.points }}</td>
                    {% for i, activity in score.activities %}
                    <td>
                        {{ activity.points }}
                        <span onclick="details.get({{ activity.id }})" class="btn btn-outline-secondary btn-sm">
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </span>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
</div>

{% include "MagicWordBundle:Common:details-modal.html.twig" %}

{% block javascripts -%}
<script type="text/javascript" src="{{ asset('js/round.js') }}"></script>
{% endblock %}
