{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">Accueil</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_me')}}">Moi</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'edit_password' | trans }}</li>
  </ol>
</nav>

<div class="card">
    <div class="card-body">
        {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
    </div>
</div>
{% endblock fos_user_content %}
