{% extends '::base.html.twig' %}

{% block title %}Massive Builder{% endblock %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">{{ 'back_to_home' | trans }}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_create')}}">{{ 'create' | trans }}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('my_massives_under_construction')}}">{{ 'my_massives_under_construction' | trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ massive.name }}</li>
  </ol>
</nav>

<div class="card">
    <div class="card-header">
        <span class="float-right">
            <span class="btn btn-outline-secondary btn-sm" onclick="builder.export({{massive.id}})">
                <i class="fas fa-file-export"></i>
                Exporter
            </span>
            <a class="btn btn-outline-secondary btn-sm" href="{{ path('massive_publish', {"id":  massive.id}) }}">
                <i class="fas fa-clipboard-check"></i>
                Publier
            </a>
            <a class="btn btn-outline-secondary btn-sm" href="#" data-toggle="modal" data-target="#deleteModal">
                <i class="far fa-trash-alt"></i>
                Supprimer
            </a>
        </span>
    </div>
    <div class="card-body">
        <ul class="nav nav-tabs nav-fill" role="tablist">
           <li class="nav-item">
              <a href="#rounds" class="nav-link active" aria-controls="rounds" role="tab" data-toggle="tab">
                {{ "rounds" | trans }} ({{ massive.rounds|length }})
              </a>
            </li>
           <li class="nav-item"><a href="#misc" class="nav-link" aria-controls="misc" role="tab" data-toggle="tab">{{ "properties" | trans }}</a></li>
         </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="rounds">
                <div class="row">
                  <div class="col mt-3">
                    <div class="row">
                      <div class="col">
                        <h5 class="float-right">
                          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'add_round' | trans }}
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a data-message="Génération d'une grille rush" class="dropdown-item please-wait" href="{{ path('massive_add_rush', {"id":  massive.id}) }}">{{ 'rush' | trans }}</a>
                              <a data-message="Ajout d'une partie conquer" class="dropdown-item please-wait" href="{{ path('massive_add_conquer', {"id":  massive.id}) }}">{{ 'conquer' | trans }}</a>
                          </div>
                        </h5>
                      </div>
                    </div>

                    <ul class="list-group">
                      {% for i, round in massive.rounds %}
                        <li class="list-group-item round">
                          {% set order = i + 1 %}
                          {{order}} - {{ round.discr | trans }} - {{ round.language.value | trans }}
                          - {{ round.title ? round.title : "(pas de titre)" }}
                          {% if round.description %}<span class="text-muted">({{ round.description }})</span>{% endif %}
                          <span class="float-right btns">
                              <div class="btn-group">
                                  <a onclick="builder.reorder()" class="btn btn-outline-secondary btn-sm {% if order == 1 %}disabled{% endif %}" href="{{ path('round_move_up', {"massiveId": massive.id, "roundId": round.id }) }}">
                                      <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                  </a>
                                  <a onclick="builder.reorder()" class="btn btn-outline-secondary btn-sm {% if order == massive.rounds|length %}disabled{% endif %}" href="{{ path('round_move_down', {"massiveId": massive.id, "roundId": round.id }) }}">
                                      <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                  </a>
                              </div>
                              <a class="btn btn-secondary btn-sm" href="{{ path('round_edit', {"id": round.id }) }}">
                                  <i class="fas fa-edit" aria-hidden="true"></i>
                                  <span class="d-none d-md-inline">{{ 'edit_round' | trans }}</span>
                              </a>
                              <a class="btn btn-sm btn-danger" href="{{ path('massive_remove_round', {"massiveId": massive.id, "roundId": round.id }) }}">
                                  <i class="fa fa-times" aria-hidden="true"></i>
                              </a>
                          </span>
                        </li>
                      {% endfor %}
                    </ul>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="misc">
            <div class="row">
              <div class="col mt-3">
                {{ form(form) }}
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Suppression partie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Êtes vous sûr de vouloir supprimer cette partie ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'close'|trans}}</button>
        <a class="btn btn-danger" href="{{ path('game_delete', {"id": massive.id }) }}">Oui, supprimer</a>
      </div>
    </div>
  </div>
</div>

{% include "MagicWordBundle:Game/Massive/partials:export-modal.html.twig" %}

{% endblock %}
