{% extends '::base.html.twig' %}

{% block title %}{{ 'letterlanguagepoints' | trans }}{% endblock %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">{{ 'back_to_home' | trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{path('admin_index')}}">{{ 'administration' | trans }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ "general_parameters" | trans}}</li>
  </ol>
</nav>

<div class="card">
    <div class="card-body">
        <a class="btn btn-sm btn-outline-secondary mb-2" href="{{ path('general_parameters_edit') }}">
            <i class="fas fa-edit" aria-hidden="true"></i>
            {{ "edit" | trans }}
        </a>
        
        <h4> {{ "homeText" | trans}} </h4>
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        {{ generalParameters.homeText | raw }}
        <i class="fa fa-quote-right" aria-hidden="true"></i>

        <hr/>

        <h4> {{ "footer" | trans}} </h4>
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        {{ generalParameters.footer | raw }}
        <i class="fa fa-quote-right" aria-hidden="true"></i>

        <hr/>

        <h4> {{ "selfRegistration" | trans}} </h4>
        {{ generalParameters.selfRegistration ? "oui" : "non" }}
    </div>
</div>
{% endblock %}
