{% extends '::base.html.twig' %}

{% block title %}{{ 'letterlanguagepoints' | trans }}{% endblock %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">{{ 'back_to_home' | trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{path('admin_index')}}">{{ 'administration' | trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{path('index_language', {id: letter.language.id})}}">{{letter.language.value}}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('letters', {'id': letter.language.id}) }}"> {{ "letterlanguagepoints" | trans }}</a></li>
    <li class="breadcrumb-item active"> {{"letter"|trans}} "{{ letter.value }}" </li>
  </ol>
</nav>

<div class="card">
    <div class="card-body">
    {{ form(form) }}
    </div>
</div>
{% endblock %}
