{% extends '::base.html.twig' %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">{{ 'back_to_home' | trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{path('admin_index')}}">{{ 'administration' | trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{path('index_language', {id: language.id})}}">{{language.value}}</a></li>
    <li class="breadcrumb-item active"> {{ "wordlengthpoints" | trans }}</li>
  </ol>
</nav>

<div class="card">
    <ul class="list-group">
    {% for wordlength in wordlengths %}
        <li class="list-group-item">
            {{ wordlength.length }} {{"letters"|trans}} - {{ wordlength.points }}pts
            <span class="float-right">
                <a href="{{ path('wordlength_edit', {"id":  wordlength.id}) }}" class="btn btn-outline-secondary btn-sm">
                    <i class="fas fa-edit" aria-hidden="true"></i> {{"edit"|trans}}
                </a>
            </span>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
