{% set hasObj =  conquer.objectives|length > 0 ? true : false %}

{# OBJECTIVES #}

<div class="row mb-3">
  <div class="col">
    <ul class="nav nav-tabs nav-justified nav-fill" role="tablist">
        <li role="presentation" class="nav-item">
            <a href="#find-words-tab" class="nav-link active" aria-controls="find-words-tab" role="tab" data-toggle="tab">
                <i class="fas fa-binoculars" aria-hidden="true"></i> {{ 'find_words' | trans }}
            </a>
        </li>
        <li role="presentation" class="nav-item">
            <a href="#combos-tab" class="nav-link" aria-controls="combos-tab" role="tab" data-toggle="tab">
                <i class="fas fa-tachometer-alt"></i> {{ 'combos' | trans }}
            </a>
        </li>
        <li role="presentation" class="nav-item">
            <a href="#constraints-tab" class="nav-link" aria-controls="constraints-tab" role="tab" data-toggle="tab">
                <i class="fa fa-map"></i> {{ 'constraint' | trans }}
            </a>
        </li>
    </ul>
    <form class="form" id="objectives">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active show fade" id="find-words-tab">
                {% include "MagicWordBundle:Round/Conquer/Objective:findword.html.twig" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="combos-tab">
                {% include "MagicWordBundle:Round/Conquer/Objective:combo.html.twig" %}
            </div>
            <div role="tabpanel" class="tab-pane fade" id="constraints-tab">
                {% include "MagicWordBundle:Round/Conquer/Objective:constraint.html.twig" %}
            </div>
        </div>
        {{ form_widget(form._token) }}
    </form>
  </div>
</div>

{# GRID + INFLECTIONS #}
  <div class="row">
      <div class="col-5">
          <div class="card">
              <div class="card-header text-center">
                    <span class="btn btn-outline-secondary btn-sm" onclick="gridPatternHandler.list()">
                        <i class="fa fa-magic" aria-hidden="true"></i>
                        {{ 'patterns' | trans }}
                    </span>
                    <span class="btn btn-outline-secondary btn-sm" onclick="gridHandler.autofill()">
                        <i class="fa fa-magic" aria-hidden="true"></i>
                        {{ 'autofill_grid' | trans }}
                    </span>
                    <span class='btn btn-primary btn-sm' onclick="gridHandler.save()">
                        <i class="far fa-save" aria-hidden="true"></i>
                        {{ 'save_grid' | trans }}
                    </span>
              </div>
              <div class="card-body">
                  <div id="language-inconsistency" style="display:none" class="alert alert-warning" role="alert">
                      grid & foundables language are different from round language. Please resave your grid or change round language.
                  </div>
                  <form id="grid" method="POST">
                      <div id="result">
                          {% set grid = conquer.grid %}
                          {% include "MagicWordBundle:Round/Conquer:grid.html.twig" %}
                      </div>
                      <input id="conquerId" type="hidden" name="conquerId" value="{{ conquer.id }}"/>
                      <input id="languageId" type="hidden" name="language" value="{{ conquer.language.id }}">
                  </form>
              </div>
          </div>
      </div>
      <div id="foundables" class="col">
        {% if grid.foundableForms is defined  %}
          {% include 'MagicWordBundle:Grid:possible-inflections.html.twig' with {'foundableForms': grid.foundableForms, 'btn': true } %}
        {% endif %}
      </div>
  </div>
{% include "MagicWordBundle:Round/Conquer/Objective:helper-combos.html.twig" %}
