{% extends '::base.html.twig'%}

{% block title %}PLAY ROUND{% endblock %}
{% block topToHideWhilePlaying %}{% endblock %}
{% block bottomToHideWhilePlaying %}{% endblock %}

{% block body -%}

{% set hasObj = (round.objectives is defined and round.objectives is not empty ) ? true : false %}
{% set grid =  round.grid %}

<div id="game-container" style="display:none">
    <div id="fullscreen" class="visible-xs fa fa-arrows-alt" aria-hidden="true"></div>

    <div class="top-container">
        {% include "MagicWordBundle:Round/Play:clock.html.twig" %}
        {% include "MagicWordBundle:Round/Play:found.html.twig" %}
        {% include "MagicWordBundle:Round/Play:objectives.html.twig" %}
        {% include "MagicWordBundle:Round/Play:woot.html.twig" %}
        {% include "MagicWordBundle:Round/Play:combo.html.twig" %}
    </div>

    <div class="row">
        <div id="grid-container" class="col">
            {% include "MagicWordBundle:Round/Play:grid.html.twig" %}
        </div>
    </div>
    <div id="bot"></div>
</div>

{% include "MagicWordBundle:Round/Play:sound.html.twig" %}

<div id="game-start-summary" data-backdrop="static" data-keyboard="false" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ round.game.discr |trans }} -
          {{ round.discr |trans }} -
          {{ round.language.value |trans }}
        </h5>
      </div>
      <div class="modal-body">
        {% set rules = round.discr~"_rules" %}
        <p>{{ rules |trans }}</p>
        {{ "round_language" |trans }} <b>{{ round.language.value |trans |lower }}</b>
      </div>
      <div class="modal-footer">
          <button id="game-start" class="float-right btn btn-sm btn-primary">{{"letsgo"|trans}}</button>
      </div>
    </div>
  </div>
</div>

<script>
var gridJSON = {{ grid.json | raw }};
var roundJSON = {{ round.json |raw }};
var assetsBaseDir = "{{ asset('.', "noversion") }}";
</script>
{% endblock %}

{% block javascripts -%}
<script type="text/javascript" src="{{ asset('js/play.js') }}"></script>
{% endblock %}
