{% set logged = app.user is not null ? true : false %}
{% set generalParameters = getGeneralParameters() %}

<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta charset="UTF-8"/>
        <title>{% block title %}MAGIC WORD{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css')}}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('css/main.css')}}" type="text/css"/>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        {% block topToHideWhilePlaying %}
        <a href="{{ path('home') }}">
            <div id="header-logo"></div>
        </a>
        <div class="header-buttons">
            <div class="btn-group-sm btn-group-vertical">
            {% if logged %}
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-secondary btn-sm">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="d-none d-md-inline">{{ 'logout' | trans }}</span>
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('admin_index') }}">
                        <i class="fas fa-tools"></i>
                          <span class="d-none d-md-inline">Administration</span>
                    </a>
                {% endif %}
            {% else %}
                {% if getGeneralParameters().selfRegistration %}
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-secondary btn-sm">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <span class="d-none d-md-inline">{{ 'register' | trans }}</span>
                </a>
                {% endif %}
                <a href="{{ path('fos_user_security_login') }}" class="btn btn-secondary btn-sm">
                    <i class="fas fa-sign-in-alt"></i>
                    <span class="d-none d-md-inline">{{ 'login' | trans }}</span>
                </a>
            {% endif %}
            </div>
        </div>
        {% endblock %}
        <div class="container pb-4">
          {% for label, flashes in app.session.flashbag.all %}
              {% for flash in flashes %}
              <div class="alert alert-{{ label }}" role="alert">{{ flash }}</div>
              {% endfor %}
          {% endfor %}
          {% block body %}{% endblock %}

          <div class="modal" tabindex="-1" id="please-wait" role="dialog" data-backdrop="static" data-keyboard=false>
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body noselect">
                  <img src="{{ asset('img/squares.gif')}}"/>
                  <h3 id="please-wait-message"></h3>
                </div>
              </div>
            </div>
          </div>

          <div class="modal" tabindex="-1" id="info-modal" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-body noselect">
                  <h3 id="info-modal-message"></h3>
                </div>
              </div>
            </div>
          </div>

        </div>
        {% block bottomToHideWhilePlaying %}
        <div id="footer">
          <span class="badge badge-light">
            <a class="" href="https://gricad-gitlab.univ-grenoble-alpes.fr/lzbk/MagicWord">
              <i class="fab fa-gitlab"></i> Source
            </a>
          </span>
          -
          {{ generalParameters.footer|raw}}
        </div>
        {% endblock %}

        <div id="users-device-size">
          <div id="xs" class="d-block d-sm-none"></div>
          <div id="sm" class="d-none d-sm-inline d-md-none"></div>
          <div id="md" class="d-none d-md-inline d-lg-none"></div>
          <div id="lg" class="d-none d-lg-inline d-xl-none"></div>
          <div id="xl" class=".d-none d-xl-inline"></div>
        </div>

        <script type="text/javascript" src="{{ asset('js/translations.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/main.js')}}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
