{% extends '::base.html.twig' %}

{% block body -%}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: #fff;">
    <li class="breadcrumb-item"><a href="{{path('home')}}">{{ 'back_to_home' | trans }}</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{{path('home_me')}}">Moi</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ 'my_friends' | trans }}</li>
  </ol>
</nav>

<div class="card">
    <ul class="list-group list-group-flush">
    {% for player in app.user.friends %}
        <li class="list-group-item">
            <a href="{{ path('profile', {"id":  player.id}) }}">{{ player.username }}</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
