<div class="card">
    {% if activity.combosdone|length > 0 %}
    <ul class="list-group list-group-flush">
    {% for comboDone in activity.combosdone %}
    <li class="list-group-item">
        {{ comboDone.total }} combos de {{ comboDone.comboType.length }}
    {% endfor %}
    </ul>
    {% else %}
        <div class="card-body">
        {{ 'no_combo_done'|trans }}
        </div>
    {% endif %}
</div>
