<table id="end-grid">
  {% set x = 0 %}
  {% for i in range(0,3) %}
    <tr>
    {% for j in range(0, 3) %}
      <td>
          <span id="square-{{ x }}">{{ round.grid.squares[x].letter.value | upper }}</span>
          {% set x = x + 1 %}
      </td>
    {% endfor %}
    </tr>
  {% endfor %}
</table>
