<a class="please-wait btn btn-sm btn-primary" data-message="Génération de la grille" href="{{ path('train', {id: round.grid.language.id}) }}">
    <i class="fas fa-redo-alt"></i>
    <span class="d-none d-md-inline">{{ "train_again" | trans }}</span>
</a>
