{% import "MagicWordBundle:Player:macros.html.twig" as pmacros %}

<div class="card p-0">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover text-center">
            <thead class="thead-light">
                <th>{{ "rank" | trans }}</th>
                <th>{{ "player" | trans }}</th>
                <th>{{ "score" | trans }}</th>
                {% if round.discr == "conquer" %}
                <th>{{ "time" | trans }}</th>
                <th>{{ "bonus_points" | trans }}</th>
                {% else %}
                <th>{{ "forms_found_count" | trans }}</th>
                <th>{{ "bonus_points" | trans }}</th>
                {% endif %}
                <th>{{ "details" | trans }}</th>
            </thead>
            <tbody>
                {% for i, activity in activities %}
                <tr {{ app.user == activity.player ? "class='success'": ""}}>
                    <td>{{ i + 1 }}</td>
                    <td>{{ pmacros.playerPicAndName(activity.player) }}</td>
                    <td>{{ activity.points }}</td>
                    {% if round.discr == "conquer" %}
                    <td>{{ getTimeSpent(activity) }}</td>
                    <td>{{ activity.timePoints }}</td>
                    {% else %}
                    <td>{{ activity.foundForms|length }}</td>
                    <td>{{ activity.comboPoints }}</td>
                    {% endif %}
                    <td><i onclick="details.get({{ activity.id }})" class="fa fa-search-plus" aria-hidden="true"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
</div>

{% include "MagicWordBundle:Common:details-modal.html.twig" %}

{% block javascripts -%}
<script type="text/javascript" src="{{ asset('js/round.js') }}"></script>
{% endblock %}
