{% extends '::base.html.twig' %}

{% block body -%}
<div class="card">
    <div class="card-header">
        <a class="btn btn-sm btn-outline-secondary" href="{{ path('found', {id: language.id}) }}">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            {{ "found" | trans }}
        </a>
        {{ foundableForm.form }} - {{ language.value | trans }}
    </div>
    <div class="card-body">
        {% set percentFound = (foundCount / userCount * 100) | round(0) %}
        <div class="alert alert-info" role="alert">
            {{ "found_by_percent"|trans({'%percent%': percentFound}) }}
        </div>
        {% for word in foundableForm.words %}
        {% set root = word.root %}
        <li class="list-group-item">
            {{ word.value }}
            ( <a href="{{ path('root', {"id":  root.id }) }}">  {{ root.value }}</a>)
            <span class="float-right">
                <span class="btn btn-outline-secondary btn-sm" onClick="wiktionnary.getDef('{{ root.value }}', '{{ language.value |slice(0,2) }}')">
                    <i class="fab fa-wikipedia-w"></i>
                </span>
                {% if isInWordbox(root) == false %}
                <span class="btn btn-outline-secondary btn-sm" onclick="addToWordbox({{ root.id }}, this);">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </span>
                {% endif %}
            </span>
        </li>
        {% endfor %}
    </div>
</div>
{% endblock %}
