{% macro percent(foundable, activities) %}
  {% import _self as my_macros %}
    {% set found = 0 %}
    {% for a in activities %}
        {% if foundable in a.foundForms %}
            {% set found = found + 1 %}
        {% endif %}
    {% endfor %}
    {{ activities|length > 0 ? ((found / activities|length) * 100)|round : 0 }}%
{% endmacro %}

{% macro foundableComplete(foundable, activity, activities, type) %}
  {% import _self as my_macros %}
  {% set percent = my_macros.percent(foundable, activities) %}
  <div class="col-sm-6 col-md-4 foundable mb-2" data-form="{{ foundable.form }}" data-points="{{ foundable.points }}" data-percent="{{ percent }}" data-length="{{ foundable.form|length }}">
    <div class="accordion" id="accordion{{type}}">
      <div class="card">
          <div data-toggle="collapse" data-target="#{{ type ~ '-' ~ foundable.id }}" class="btn card-header {% if activity and foundable in activity.foundForms and type == "foundable" %}bg-success{% endif %}" >
             {{ foundable.form | upper }} <span class="text-muted">({{ foundable.points}})</span>
             <span class="float-right">
               <span class="badge badge-secondary">{{ percent }}</span>
             </span>
          </div>
          <div id="{{ type ~ '-' ~ foundable.id }}" class="collapse" data-parent="#accordion{{type}}">
              <ul class="list-group list-group-flush">
                  {% for inflection in foundable.words %}
                  <li class="list-group-item">
                      {{ inflection.value }}  ({{ inflection.root.value }})
                      <span class="float-right">
                          <button role="button" class="btn btn-sm" onClick="wiktionnary.getDef('{{ inflection.root.value }}', '{{ foundable.grid.language.value |slice(0,2) }}')">
                              <i class="fab fa-wikipedia-w"></i>
                          </button>
                          {% if isInWordbox(inflection.root) == false %}
                          <button class="btn btn-sm" onclick="addToWordbox({{ inflection.root.id }}, this);">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                          </button>
                          {% endif %}
                      </span>
                  </li>
                  {% endfor %}
              </ul>
          </div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro foundableShort(foundable, activities) %}
  {% import _self as my_macros %}
  {% set percent = my_macros.percent(foundable, activities) %}
  <div class="list-group-item sortable" data-form="{{ foundable.form }}" data-points="{{ foundable.points }}" data-percent="{{ percent }}" data-length="{{ foundable.form|length }}">
      <div class="badge badge-secondary">{{ percent }}</div> &nbsp;
      <span class="btn btn-sm btn-secondary" onClick="wiktionnary.getDef('{{ foundable.words[0].root.value }}', '{{ foundable.grid.language.value |slice(0,2) }}')">
          <i class="fab fa-wikipedia-w"></i>
      </span>
      {{ foundable.form | upper }} <span class="text-muted">({{ foundable.points}}pts)</span>
  </div>
{% endmacro %}
